# Python cache ja temp-tiedostot
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/
node_modules/
dist/

# IDE:t
.vscode/
.idea/

# Salaisuudet
.env

CursorUserSetup-x64-2.6.20.exe
CursorUserSetup-x64-2.6.20 (1).exe